@import './vars';

body {
    background-color: $blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.container {
    max-width: 500px;
    margin: auto;
    padding: 1em;

    header {

        display: flex;
        justify-content: space-between;

        h1 {
            font-weight: lighter;
            text-transform: uppercase;
            text-align: left;
            font-size: 1em;
            border: 1px solid $white;

            padding: .5em;
            width: 90px;
        }

        .score {
            background-color: $white;
            color: $blue;
            align-self: center;
            padding: .8em;
            label {
                text-transform: uppercase;
                font-weight: bold;
                display: block;
            }
            .score-number {
                font-family: monospace;
                font-size: 3em;
                align-self: center;
            }
        }
    }

    .instructions {
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .result {
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 5em;
        .iconUser, .iconMachine {
            font-size: 5em;

        }
        .vs {
            margin: 0;
            font-size: 5em;
            color: $green;
        }
    }

    .tutorial-btn {
        margin-top: 2em;
        border-radius: 20px;
        background-color: transparent;
        padding: .8em .6em;
        font-size: 1.5em;
        border: 2px solid $green;
        color: $green;
        cursor: pointer;
        background-color: $blue;
        

        &:hover, &:active, &:focus {
            filter: brightness(80%)
        }
    }

}

